{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row mt-5">
            {% for product in product_list %}
                <div class="col-3 my-3 ">
                    <a href="{% url 'products:product-detail' product.pk %}" style="text-decoration: none; color: black" >{{ product }}</a>
                    {% if request.user in product.vote.all %}
                        <a class="btn btn-outline-warning" href="{% url 'products:vote' product.pk %}">Voted</a>
                    {% else %}
                        <a class="btn btn-outline-success" href="{% url 'products:vote' product.pk %}">Vote</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}