{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div class="row mt-5">
            {% for product in product_list %}
                <div class="col-3 my-3 ">
                    <a href="{% url 'products:product-detail' product.pk %}" style="text-decoration: none; color: black" >{{ product }}</a>
                    {% if view.user in product.vote.all %}
                        <button class="btn btn-outline-success">Vote</button>
                    {% else %}
                        <button class="btn btn-outline-warning">Vote</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}